.c-aboutme-container{
    padding: 3rem;
}

.c-aboutme-title{
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

.c-aboutme-subtitle{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.c-aboutme-paragraph{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

.c-aboutme-img{
    size: 80vw;
}