.c-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: 0 3px 6px 0 #dadbe0;
    background-color: var(--white);
}

.c-header__title{
    font-size: 1.8rem;
    line-height: 2rem;
    padding: 0 1rem;
    font-weight: 400;
    cursor: pointer;
}

.c-header-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-header-links__item{
    font-size: 1rem;
    padding: 1rem;
    font-weight: 400;
    opacity: 0.8;
    text-decoration: none;
    transition: border 0.2s ease-in-out;
    border-bottom: 0.2rem solid var(--white);
    cursor: pointer;
}

.c-header-links__item:hover:not(.c-header-links__item-selected){
    border-bottom: 0.2rem solid var(--theme-color-2);
}

.c-header-links__item-selected{
    border-bottom: 0.2rem solid var(--theme-color-1);
}