.c-header{
    padding: 2rem;
}

.c-header__title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.c-heaer__subtitle{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0;
    opacity: 0.8;
}