/* Custom */

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

html, body, label {
  font-family: 'Roboto', sans-serif;
}

::selection {
  background-color: #16697A40;
  color: #1a202c;
}

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
